<div id="uvmmaincontent">		
<div id="three32_container">
	<div id="three32_top">
		<div id="three32_title">
			<h1>CS Crew &amp; You</h1><h4> Getting the most out of UVM CS</h4>
		</div>
	</div>
	<div id="three32_content">
		<p>Feel free to drop by and see the exciting things happening in Votey 332.</p>
		<p>332 is on the third floor of Votey, on the side facing Billings. The room is open to all CS students, as are the people, resources and projects inside.</p>
		<p>For help or to help out, all you need to do is walk through the door!</p>
		<div id="three32_purpose">
			<h5>
				Purposes:
			</h5>
			<ul>
				<li>
					<p class="three32_header">Provide academic support to CS students and professors</p>
					<p>Help hours will be held in Votey 332 by upperclassmen and grad students on a volunteer basis. Volunteer hours, as well as specialties, will be posted <a href="?page=hours">online</a> as well as outside Votey 332.</p>
				</li>
				<li>
					<p class="three32_header">Create relationships with the community and other CS majors</p>
					<p>Non-profit or start-up organizations often contact professors in the CS department asking for help with projects. 332 can provide that help, fostering relationships with the community.</p>
					<p>Many CS majors tend to travel in groups based upon their acadamic year, never knowing more than the odd person above or below them. This leads to missed opportunities all around, and we will change that.</p>
				</li>
				<li>
					<p class="three32_header">Gain experience through service</p>
					<p>Often times we take knowledge for granted, never questioning what lies beneath the surface of what we see. Through providing help hours for other CS majors, we can learn to look at problems in greater depth than before; it is often the teacher who learns the most from the student. That knowledge is what we hope to gain through the help hours service.</p>
					<p>By serving community needs, CS majors will learn to interact with clients, and teammates, as well the struggles and truimphs associated with solving real world problems.</p>
				</li>
			</ul>
		</div>
	</div>
</div>
									
</div>